@import "base/variables";
@import "base/typography";
@import "base/fonts";
@import "base/utility-colors";
@import "base/shapes";

@import "components/header";
@import "components/hero";

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f1f1f1;
  font-family: "Helvetica", -apple-system, BlinkMacSystemFont, "Avenir Next",
    "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica",
    "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: none;
  text-decoration: none;

  &:focus,
  &:visited,
  &:hover {
    color: none;
    text-decoration: none;
  }
}
