.hero {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background-image: url("../../images/jovove.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    color: lime;
  }
}
