.circle-sm{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.circle-md{
  height: 50px;
  width: 50px;
}

.circle-lg {
  height: 80px;
  width: 80px;
}

.circle-xl {
  height: 120px;
  width: 120px;
}
