---
title: Welcome to Middleman
---
<!-- <div class="hero">
  <h1>
    No other worlds<br /> than this
  </h1>
  <h3></h3>
</div> -->


<div class="header">
  <div class="fiftysplit">
    <p>Jovan Velkoski <br />Art director</p>
  </div>
  <div class="fiftysplit">
    <div class="circle-sm u-yellow"></div>
    <p>About ~ CV</p>
  </div>
</div>
<!--  -->


<div class="hero">
  <a href="#" alt="#"><h1>Volvo</h1></a>
  <a href="#" alt="#"><h1>Klädkod</h1></a>
  <a href="#" alt="#"><h1>Oddwork</h1></a>
  <a href="#" alt="#"><h1>It's always sunny in Tokyo</h1></a>
  <a href="#" alt="#"><h1>Wiff Waff</h1></a>
  <a href="#" alt="#"><h1>Caterpillar</h1></a>
  <a href="#" alt="#"><h1>PC Part Picker</h1></a>
  <a href="#" alt="#"><h1>Brave Zone</h1></a>
  <a href="#" alt="#"><h1>Else</h1></a>
  <a href="#" alt="#"><h1>James Harvest</h1></a>
  <a href="#" alt="#"><h1>Nicotext</h1></a>
  <a href="#" alt="#"><h1>Code</h1></a>
  <a href="#" alt="#"><h1>Editorial</h1></a>
  <a href="#" alt="#"><h1>Branding</h1></a>
  <a href="#" alt="#"><h1>Illustration</h1></a>
</div>
