---
Jovan Velkoski Design and Code
---

<div class="header">
  <div class="fiftysplit">
    <p>Jovan Velkoski <br />Creative with design, code and people</p>
  </div>
  <div class="fiftysplit">
    <div class="circle-sm u-yellow u-flex">    <a href="mailto:jovove@gmail.com" alt="contact">📮</a>
</div>
  </div>
</div>

<div class="hero">
  <h3>coming to you</h3>
  </div>
